.chats{
   
    background-color: #2d2d59;
    height: 100%;
    
}
.chat{
    display: block;
    color: #5555ce;
    &.active{
        color: #fff;
        background-color: #181732;   
    }
}
.messages{
    background-color: #181732;   
}

    .mainPage{
        line-height: 25px;
        font-size: 20px; 
        display: grid;
        grid-template: 1fr / 3.5fr 6.5fr;
        height: 100%;
    }
   