
.body{
	width: 100%;
	grid-area: body;
	display: grid;
	grid-template: 1fr 50px/ 1fr;
	.content{
		color: #fff;
		grid-row: 1 / 2;
	}
}


@media (min-width: 660px) {
	.body {
	grid-area: body;
	grid-template: 1fr / 1fr 150px minmax(auto, 800px) 1fr;
		.content {
			grid-column: 3 / 4;
			background-color: #181732;
			
		}
	}

	
}

@media (min-width: 1600px) {
	.body {
		grid-area: body;
		
		grid-template: 1fr / 1fr 150px minmax(550px, 1400px) 1fr;
	}
}