	.navbar{
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 50px;
		background-color: #424283;
		grid-row: 2 / 3;

		.navbar__list {
			position: static;
			margin: 0 0 0 0;
			min-height: 50px;
			font-size: 15px;
			line-height: 3em;
			display: grid;
			grid-template: 1fr / repeat(4 , 1fr);
			
				.navbar__label{
					
					text-align: center;
					vertical-align: middle;
					color: #fff;
					&:hover{
						color: #000;
					}
					&.active{
						color: #000;
						
					}
				}
				& img{
					max-width: 25px;		
					max-height: 25px;
				}
		}
	}



@media (min-width: 660px) {
	
		.navbar {
			position: static;
			height: 100%;
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			color: #fff;
			.navbar__list {
				position: fixed;
				font-size: 16px;
				line-height: 27px;
				grid-template: repeat(4 , 1fr) / 1fr;
				

				
					.navbar__label{
						line-height: 2em;
						
						text-align: left;
				
						width: 150px;
						display: block;
						&.active{
							color: #fff;
							background-color: #2d2d59;
						}
					
				}
			}
		}
	
	}

