

.Messenger{
    line-height: 20px;
    font-size: 16px; 
    display: grid;
    grid-template: 1fr / minmax(150px, 3.5fr) 6.5fr;
}

.chats{
   
    background-color: #2d2d59;
    height: calc(100vh - 140px);
    overflow-y: scroll;
}
.messages{
    height: calc(100vh - 140px);
    background-color: #181732;
    overflow-y: scroll;
    overflow-x: hidden;

}
.input{
    grid-column: 1 / 3;
    display: grid;
    grid-template: 1fr / 9fr 1fr;
    height: 40px;  
    .inputArea{
        display: block;
        resize: none;
        
        line-height: 20px;
        font-size: 16px; 
        height: 40px;
      
        background-color: #5555ce;
    }
    .btnEnter{
        display: block;
        height: 40px;
        color: #fff;
        background-color: #2d2d59;
        &:hover{
            background-color: #5555ce;
        }
    }
}
@media (min-width: 660px) {
    .chats{
        height: calc(100vh - 90px);
    }
    .messages{
        height: calc(100vh - 90px);
    }
   
}
