.UsersPage{ 
    overflow-y: scroll;
    height: calc(100vh - 100px);
}

.selectedPage{
    font-weight: bold;
    font-size: 18px;
}

@media (min-width: 660px) {
    .UsersPage{ 
       
        height: calc(100vh - 50px);
    }
    
}