.header {
	z-index: 1;
	position: fixed;
	height: 50px;
	width: 100%;
	grid-area: header;
	background-color:#424283;
	

	align-items: center;
	display: grid;
	
	grid-template: 1fr / 1fr minmax(auto, 150px) minmax(auto, 800px) 1fr;
}
.header__logo {
	width: 50px;
	& img{
		max-height: 100%;
		max-width: 100%;
	}
	grid-column: 2 / 3;
}
.header__menu {
	
	grid-column: 3 / 4;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(2, 1fr);
	:last-child{
		justify-self: end;
		
	}
	.header__item{
		margin: 0 5px 0 0;
		padding: 10px;
		border-radius: 10px;
		background-color: #181732;
		font-size: 15px;
		width: fit-content;
		color: #fff;
		.link{
			color: #fff;
			&.active{
				color: rgb(133, 0, 0);
			}
		}
		
	}

}