@import "nullstyle.scss";

.wrapper{
	overflow-wrap: break-word;
    word-wrap: break-word;
	background-color: #181732;
	min-height: 100vh;
	
	display: grid;
	grid-template: 50px 1fr/ 1fr;
	grid-template-areas:
		"header"
		"body";
	
}

.body{

	height: calc(100vh - 100px);
	grid-area: body;
	display: grid;
	grid-template: 1fr 50px/ 1fr;
	.content{
		color: #fff;
		grid-row: 1 / 2;

	}
}


@media (min-width: 660px) {
	.body {
		height: calc(100vh - 50px);
		grid-area: body;
		grid-template: 1fr / 1fr 150px minmax(auto, 800px) 1fr;
			.content {
				grid-column: 3 / 4;
				background-color: #181732;
				
			}
		}

	
}

@media (min-width: 1600px) {
	.body {
		grid-area: body;
		
		grid-template: 1fr / 1fr 150px minmax(550px, 1400px) 1fr;
	}
}